<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <activity
            android:name=".debug.PinWidgetActivity"
            android:exported="true"
            android:theme="@style/AppTheme" />
        <receiver
            android:name=".debug.VerificationReceiver"
            android:exported="true" />
    </application>
</manifest>
